@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUser>

@{
    ViewData["Title"] = "ListRoles";
}

<h1>ListUsers</h1>

<p>
    <a asp-action="Register">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Email)
                    </td>
               

                <td>
                        <a asp-action="AddRemoveRoles" class="btn btn-primary" asp-route-Id="@item.Id">AddRemoveRoles</a>

                </td>
            </tr>
        }
    </tbody>
</table>
